<section class="employee-add">
    <header class="employee-add">
        <h2>Formulario empleado</h2>
    </header>
    <form [formGroup]="employeeForm" class="__formulario">
        <fieldset>
            <!-- Nombre -->
            @if (employeeForm.get('firstName')?.invalid && (employeeForm.get('firstName')?.touched ||
            employeeForm.get('firstName')?.dirty)) {
            <p class="employee-add__status employee-add__status--error">El nombre es obligatorio</p>
            }
            <label for="employee-name">Nombre: </label>
            <input type="text" id="employee-name" formControlName="firstName"><br />

            <!-- Apellido -->
            @if (employeeForm.get('lastName')?.invalid && (employeeForm.get('lastName')?.touched ||
            employeeForm.get('lastName')?.dirty)) {
            <p class="employee-add__status employee-add__status--error">El apellido es obligatorio</p>
            }
            <label for="employee-lastname">Apellido: </label>
            <input type="text" id="employee-lastname" formControlName="lastName"><br />

            <!-- Email -->
            @if (
            employeeForm.get('email')?.invalid && (employeeForm.get('email')?.touched || employeeForm.get('email')?.dirty)
            ) {
                @if (employeeForm.get('email')?.errors?.['required']) {
                    <p class="employee-add__status employee-add__status--error">El email es obligatorio</p>
                }

                @if (employeeForm.get('email')?.errors?.['email']) {
                    <p class="employee-add__status employee-add__status--error">Formato de email inválido</p>
                }

                @if (employeeForm.get('email')?.errors?.['pattern']) {
                    <p class="employee-add__status employee-add__status--error">Debe tener dominio válido (ej: .com)</p>
                }
            }
            <label for="employee-email">Email: </label>
            <input type="email" id="employee-email" formControlName="email"><br />

            <!-- Puesto -->
            @if (employeeForm.get('position')?.invalid && (employeeForm.get('position')?.touched ||
            employeeForm.get('position')?.dirty)) {
            <p class="employee-add__status employee-add__status--error">El puesto es obligatorio</p>
            }
            <label for="employee-postion">Puesto: </label>
            <input type="text" id="employee-postion" formControlName="position"><br />

            <!-- Fecha -->
            <label for="employee-hireDate">Fecha de alta: </label>
            <input type="date" [max]="getTodayDate()" formControlName="hiredAt"><br />
            
            @if (errorMessage) {
            <p class="employee-add__status employee-add__status--error">
                {{ errorMessage }}
            </p>
            }
            <button type="button" (click)="create()">
                Crear empleado
            </button>

        </fieldset>

    </form>
</section>